<?php
/*******************************************************************/
/* Rename this file to config.php if you want to change the values */
/*                                                                 */
/* Make sure all paths are absolute by using __DIR__ where needed  */
/*******************************************************************/
// Data folder (must be writeable by the web server user and absolute)
define('DATA_DIR', __DIR__.DIRECTORY_SEPARATOR.'data')
// Enable/Disable debug
define('DEBUG', false)
// Available log drivers: syslog, stderr, stdout, system or file
define('LOG_DRIVER', 'system')
// Log filename if the log driver is "file"
define('LOG_FILE', DATA_DIR.DIRECTORY_SEPARATOR.'debug.log')
// Plugins directory
define('PLUGINS_DIR', __DIR__.DIRECTORY_SEPARATOR.'plugins')
// Plugins directory URL
define('PLUGIN_API_URL', 'https://kanboard.org/plugins.json')
// Enable/Disable plugin installer (Disabled by default for security reasons)
// There is no code review or any approval process to submit a plugin.
// This is up to the Kanboard instance owner to validate if a plugin is legit.
define('PLUGIN_INSTALLER', false)
// Available cache drivers are "file" and "memory"
define('CACHE_DRIVER', 'memory')
// Cache folder to use if cache driver is "file" (must be writeable by the web server user)
define('CACHE_DIR', DATA_DIR.DIRECTORY_SEPARATOR.'cache')
// Folder for uploaded files (must be writeable by the web server user)
define('FILES_DIR', DATA_DIR.DIRECTORY_SEPARATOR.'files')
// Enable/disable email configuration from the user interface
define('MAIL_CONFIGURATION', true)
// E-mail address used for the "From" header (notifications)
define('MAIL_FROM', 'kanboard_user@kanboard.local')
// E-mail address used for the "Bcc" header to send a copy of all notifications
define('MAIL_BCC', '')
// Mail transport available: "smtp", "sendmail", "mail" (PHP mail function)
define('MAIL_TRANSPORT', 'mail')
// SMTP configuration to use when the "smtp" transport is chosen
define('MAIL_SMTP_HOSTNAME', '')
define('MAIL_SMTP_PORT', 25)
define('MAIL_SMTP_USERNAME', '')
define('MAIL_SMTP_PASSWORD', '')
define('MAIL_SMTP_HELO_NAME', null)
define('MAIL_SMTP_ENCRYPTION', null)
// Sendmail command to use when the transport is "sendmail"
define('MAIL_SENDMAIL_COMMAND', '/usr/sbin/sendmail -bs')
// Run automatically database migrations
// If set to false, you will have to run manually the SQL migrations from the CLI during the next Kanboard upgrade
// Do not run the migrations from multiple processes at the same time (example: web page + background worker)
define('DB_RUN_MIGRATIONS', true)
// Database driver: sqlite, mysql, postgres, odbc, dblib, or mssql (sqlite by default)
define('DB_DRIVER', 'postgres')
// Database username
define('DB_USERNAME', 'kanboard_user')
// Database password
define('DB_PASSWORD', 'skyhawk1')
// Database hostname
define('DB_HOSTNAME', 'postgresql.local')
// Database database name
define('DB_NAME', 'kanboard_db')
// Database custom port (null = default port)
define('DB_PORT', null)
// Timeout value for PDO attribute
define('DB_TIMEOUT', null)
// Header name to use for the username
define('REVERSE_PROXY_USER_HEADER', 'REMOTE_USER')
// Username of the admin, by default blank
define('REVERSE_PROXY_DEFAULT_ADMIN', '')
// Header name to use for the user email
define('REVERSE_PROXY_EMAIL_HEADER', 'REMOTE_EMAIL')
// Header name to use for the user full name
define('REVERSE_PROXY_FULLNAME_HEADER', 'REMOTE_NAME')
// Default domain to use for setting the email address
define('REVERSE_PROXY_DEFAULT_DOMAIN', '')
// Enable/disable remember me authentication
define('REMEMBER_ME_AUTH', true)
// Enable or disable "Strict-Transport-Security" HTTP header
define('ENABLE_HSTS', true)
// Enable or disable "X-Frame-Options: DENY" HTTP header
define('ENABLE_XFRAME', true)
// Escape html inside markdown text
define('MARKDOWN_ESCAPE_HTML', true)
// API alternative authentication header, the default is HTTP Basic Authentication defined in RFC2617
define('API_AUTHENTICATION_HEADER', '')
// Enable/disable url rewrite
define('ENABLE_URL_REWRITE', false)
// Hide login form, useful if all your users use Google/Github/ReverseProxy authentication
define('HIDE_LOGIN_FORM', false)
// Disabling logout (useful for external SSO authentication)
define('DISABLE_LOGOUT', false)
// Enable captcha after 3 authentication failure
define('BRUTEFORCE_CAPTCHA', 3)
// Lock the account after 6 authentication failure
define('BRUTEFORCE_LOCKDOWN', 6)
// Lock account duration in minute
define('BRUTEFORCE_LOCKDOWN_DURATION', 15)
// Session duration in second (0 = until the browser is closed)
// See http://php.net/manual/en/session.configuration.php#ini.session.cookie-lifetime
define('SESSION_DURATION', 0)
// Session handler: db or php
define('SESSION_HANDLER', 'db')
// HTTP client proxy
define('HTTP_PROXY_HOSTNAME', '')
define('HTTP_PROXY_PORT', '3128')
define('HTTP_PROXY_USERNAME', '')
define('HTTP_PROXY_PASSWORD', '')
define('HTTP_PROXY_EXCLUDE', 'localhost')
// Set to false to allow self-signed certificates
define('HTTP_VERIFY_SSL_CERTIFICATE', false)
// TOTP (2FA) issuer name
define('TOTP_ISSUER', 'Kanboard')
// Comma separated list of fields to not synchronize when using external authentication providers
define('EXTERNAL_AUTH_EXCLUDE_FIELDS', 'username')
// Enable or disable displaying group-memberships in userlist (true by default)
define('SHOW_GROUP_MEMBERSHIPS_IN_USERLIST', true)
// Limit number of groups to display in userlist (The full list of group-memberships is always shown, ...
// ... when hovering the mouse over the group-icon of a given user!)
// If set to 0 ALL group-memberships will be listed (7 by default)
define('SHOW_GROUP_MEMBERSHIPS_IN_USERLIST_WITH_LIMIT', 7)
// Dashboard settings
define('DASHBOARD_MAX_PROJECTS', 10)
