upstream php-handler {
    server unix:/var/run/php-fpm.sock;
}
server {
    listen 80;
    server_name nextcloud.local;
    return 301 https://$host$request_uri;
}
server {
    listen 443 ssl http2;
    server_name nextcloud.local;
    ssl_certificate     /usr/local/etc/ssl/nextcloud/nextcloud.crt;
    ssl_certificate_key /usr/local/etc/ssl/nextcloud/nextcloud.key;
    root /usr/local/www;   
    index index.php index.html;
    client_max_body_size 512M;
    fastcgi_buffers 64 4K;
    add_header Referrer-Policy "no-referrer" always;
    add_header X-Content-Type-Options "nosniff" always;
    add_header X-Frame-Options "SAMEORIGIN" always;
    add_header X-XSS-Protection "1; mode=block" always;
    location = /robots.txt {
        allow all;
        log_not_found off;
        access_log off;
    }
    location ^~ /.well-known {
        location = /.well-known/carddav { return 301 /nextcloud/remote.php/dav/; }
        location = /.well-known/caldav { return 301 /nextcloud/remote.php/dav/; }
        try_files $uri $uri/ =404;
    }
    location ~ ^/nextcloud/(?:build|tests|config|lib|3rdparty|templates|data)(?:$|/) { return 404; }
    location ~ ^/nextcloud/(?:\.|autotest|occ|issue|indie|db_|console) { return 404; }
    location ~ ^/nextcloud/(.+?\.php)(/.*)?$ {
        include fastcgi_params;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param PATH_INFO $fastcgi_path_info;
        fastcgi_param HTTPS on;
        fastcgi_pass php-handler;
        fastcgi_intercept_errors on;
        fastcgi_request_buffering off;
    }
    location ~ ^/nextcloud/\.(?:css|js|woff2?|svg|gif|png|jpg|ico|wasm|mjs|json|map)$ {
        try_files $uri =404;
        add_header Cache-Control "public, max-age=15778463, immutable";
        access_log off;
    }
    location ~ ^/nextcloud/\.(?:ttf|ttc|otf|eot|woff|woff2)$ {
        try_files $uri =404;
        access_log off;
        expires 7d;
    }
    location /nextcloud/ {
        try_files $uri $uri/ /nextcloud/index.php$request_uri;
    }
}
